* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  background-color: #244a4c;
  display: grid;
  grid-template-columns: 20% 1fr;
  position: relative;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.sidenav {
  position: fixed;

  height: 100vh;
  width: 20%;
  background-color: #244a4c;
  color: white;

  background-color: #1b3739;
  display: grid;
  grid-template-rows: 8% 1fr 8%;
}

.sidenav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #294042;
  gap: 1.6rem;
}

.sidenav-search input {
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  background-color: #294042;
}

.sidenav-search ion-icon {
  font-size: 2.4rem;
  cursor: pointer;
}

.chat-rooms {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.8rem;
    cursor: pointer;
    color: #294042;
  }
}

.chat-room {
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #294042;
  cursor: pointer;
  color: aliceblue;

  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.chat-room:hover {
  background-color: #294042;
}

.chat-room__img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat-room__img-back {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #294042;
  text-align: center;
  line-height: 4.2rem;
  font-size: 2.4rem;
}

.chat-room__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-room__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.4rem;
}

.chat-room__name {
  font-size: 1.6rem;
}

.chat-room__time {
  font-size: 1.2rem;
  margin-left: auto;
}

.sidenav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;

  cursor: pointer;

  background-color: rgb(95, 113, 129);
}

.sidenav-profile__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.sidenav-profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidenav-profile__img:hover {
  opacity: 0.8;
}

.sidenav-profile__name {
  font-size: 1.6rem;
}

// DASHBOARD STYLES //

.dashboard {
  color: white;
  height: 100vh;
  width: 100%;
  grid-column: 2 / 3;
  position: relative;
  display: grid;
  grid-template-rows: 8% 1fr 8%;
  background-color: #294042;
}

.dashboard-top {
  background-color: #2d2e40;
  position: fixed;
  width: 80%;
  z-index: 1;
}

.top-chat__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.top-chat__profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.top-chat__profile ion-icon {
  font-size: 2.4rem;
  cursor: pointer;
}

.top-chat__profile__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.top-chat__profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.top-chat__profile__name {
  font-size: 1.6rem;
}

// CHAT STYLES //

.dashboard-bottom {
  padding: 2.4rem;
  height: 100%;
  background-color: #294042;
}

.chat-messages {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.8rem;
    cursor: pointer;
    color: #294042;
  }
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message {
  border-bottom: 1px solid #294042;
  cursor: pointer;
  color: aliceblue;

  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  width: fit-content;
  height: fit-content;
  margin-top: 1.6rem;
}

.their {
  margin-right: auto;
}

.current-user {
  margin-top: 0rem;
}

.current-user .chat-message-info {
  margin-left: 6rem;
}

.mine {
  margin-left: auto;
}

.mine .chat-message-info {
  align-items: end;
}

.mine .chat-message-header {
  flex-direction: row-reverse;
}

.mine .chat-message-body {
  border-radius: 1.2rem 0 1.2rem 1.2rem;
}

.chat-message-avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.chat-message-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-message-header {
  display: flex;
  gap: 1.2rem;
}

.chat-message-avatar-username {
  font-size: 1.2rem;
  font-weight: 300;
}

.chat-message-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.8rem;
  margin-right: auto;
}

.chat-message-body {
  background-color: #576c6e6f;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1.2rem;
  border-radius: 0 1.2rem 1.2rem 1.2rem;
}

.chat__footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: #2d2e40;
  padding: 1.4rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.chat__footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  width: 100%;
}

.chat__footer-container input {
  width: 100%;
  background-color: #2d2e40;
  border: none;
  outline: none;
  padding: 1.2rem 1.8rem;
  border-radius: 1.2rem;
  color: white;
}

.chat__footer-container input::placeholder {
  color: #b3b3b3;
}

.chat__footer-button {
  background-color: #2d2e40;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  color: white;
  cursor: pointer;
}

.chat__footer-button ion-icon {
  font-size: 2.4rem;
}

.chat__footer-button:hover {
  background-color: #3a3b4f;
}
