.active {
  background-color: #525f6f;
}

.sidenav {
  position: fixed;

  height: 100vh;
  width: 20%;
  background-color: #244a4c;
  color: white;

  background-color: #1b3739;
  display: grid;
  grid-template-rows: 8% 1fr 8%;
}

.sidenav-profile__add {
  font-size: 2.4rem;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  padding: 0.2rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.sidenav-profile__add:hover {
  color: #f0f8ff;
}

.sidenav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #294042;
  gap: 1.6rem;
}

.sidenav-search input {
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  background-color: #294042;
}

.sidenav-search ion-icon {
  font-size: 2.4rem;
  cursor: pointer;
}

.chat-rooms {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.8rem;
    cursor: pointer;
    color: #294042;
  }
}

.chat-room {
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #294042;
  cursor: pointer;
  color: aliceblue;

  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.chat-room:hover {
  background-color: #294042;
}

.chat-room__img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.chat-room__img-back {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #294042;
  text-align: center;
  line-height: 4.2rem;
  font-size: 2.4rem;
}

.top-chat__profile__img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #294042;
  text-align: center;
  line-height: 4.2rem;
  font-size: 2.4rem;
}

.chat-room__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-room__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.4rem;
}

.chat-room__name {
  font-size: 1.6rem;
}

.chat-room__time {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  margin-left: auto;
  border-radius: 50%;
  background-color: #b3b3b3b7;
  color: #1b3739;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;

  cursor: pointer;

  background-color: #4b4e56;

  h2 {
    color: #b3b3b3;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}

.sidenav-profile__img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.sidenav-profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidenav-profile__img:hover {
  opacity: 0.8;
}

.sidenav-profile__name {
  font-size: 1.6rem;
}
